vti_encoding:SR|utf8-nl
vti_author:SR|A1M1\\Alumno
vti_modifiedby:SR|A1M1\\Alumno
vti_timelastmodified:TR|16 Jun 2014 23:51:33 -0000
vti_timecreated:TR|28 May 2014 23:58:37 -0000
vti_extenderversion:SR|12.0.0.0
vti_nexttolasttimemodified:TW|16 Jun 2014 23:51:16 -0000
vti_backlinkinfo:VX|curso_c_auxiliar_contable.html curso_c_liquidacion_s_y_j.html curso_p_procesadortextomayores2.html curso_p_procesadortextomayores1.html curso_i_portuguespymes1.html curso_i_portuguespymes2.html curso_p_retoquefotografico.html capacitacion_marcoflotante_idioma.html curso_i_ingles4.html curso_i_ingles5.html curso_i_portuguesbasico1.html curso_i_portuguesbasico2.html curso_p_planillascalculos.html curso_a_artistico.html capacitacion_marcoflotante_art.html curso_p_operadorinternet.html curso_c_ayudante_contador.html curso_i_ingles1.html curso_i_ingles2.html curso_i_ingles3.html curso_i_portuguesprofundizado.html curso_p_ingresodatos.html curso_p_diseniografico.html curso_p_reparacionpc2.html curso_p_reparacionpc1.html capacitacion_marcoflotante_inform.html curso_p_procesadortexto.html curso_p_paginasweb.html curso_c_administracion.html capacitacion_marcoflotante_cont.html
vti_cacheddtm:TX|16 Jun 2014 23:51:34 -0000
vti_filesize:IR|972
